@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

/*header*/
.mob-nav {
  display: none;
}
*{
  overflow-x: hidden;

}
body{
  font-family: 'EB Garamond', serif;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
.mob-nav a {
  margin-top: 10px;
}
.tong {
  text-align: left;
  float: left;
  margin-top: 188px;
  margin-left: 10vw;
}
.header .logo-search img {
  margin: 10px;
  margin-right: 30px;
  height: 62px;
  width: 136px;
}

.header .logo-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #811f00 1px solid;
  box-sizing: border-box;
  border-radius: 10px;
}

.header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 114, 12, 1) 100%
  );
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar input {
  text-align: center;
  height: 44px;
  width: 341px;
  border: none;
  border-left: #811f00 1px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.searchbar input::placeholder {
  color: black;
  font-size: 26px;
}

.searchbar a i {
  font-size: 34px;
  padding: 4px;
  padding-right: 7px;
  color: #811f00;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  margin-right: 20px;
  position: absolute;
  right: 30px;
}

.menu a {
  color: black;
}
.header .menumobi{
  display: none;
}
.header .searchmobi{
  display: none;
}

/*container*/
.page1 {
  width: 100%;
  object-fit: cover;
  height: 994px;
  padding-top: 5vw;
  background-image:  url(./img/ná»n.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}

.page1 img {
  width: 182px;
  height: 229px;
  border-radius: 30px;
  position: absolute;
}

.page1 .i1 {
  top: 305px;
  left: 91px;
}
.page1 .i2 {
  top: 419px;
  left: 273px;
}
.page1 .i3 {
  top: 534px;
  left: 455px;
}
.page1 .i4 {
  top: 649px;
  left: 637px;
}
.page1 .i5 {
  top: 530px;
  left: 819px;
}
.page1 .i6 {
  top: 415px;
  left: 1001px;
}
.page1 .i7 {
  top: 305px;
  left: 1183px;
}

.page1 .h5_1 {
  font-size: 40px;
  font-family: "EB Garamond", serif;
}

.page1 .h5_2 {
  font-size: 40px;
  font-family: "EB Garamond", serif;
  color: #1f7340;
}

.page2 h3 {
  font-weight: 800;
  font-size: 64px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

.page2 .menu1 a,
.page2 .menu1 i{
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 20px;
  text-align: center;
  color: #D9D9D9;
}
.page1 .h5_2 {
  font-size: 40px;
  color: #1f7340;
  margin: 0;
}
.page1 .h5_1 {
  margin-top: -800px;
  font-size: 40px;
}
.page2 .menu1 a{
    font-size: 30px;
    color: black;
  text-decoration: none;
}

.page2 .date,
.page2 .view {
  display: inline;
  margin: 0 50px;
  color: #737373;
  margin-left: 70px;
}

.page2 .title {
  font-weight: 800;
  font-size: 30px;
}

.page2 .Tableofcontent {
  width: 746px;
  height: 40px;
  background-color: #c3c3c3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0;
}

.page2 .Tableofcontent i {
  margin: 0 10px;
  font-size: 30px;
}

/*font-family*/
h4 {
  color: #000;
  font-family: EB Garamond;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-end {
  width: 746px;
}
.page2 {
    padding-top: 30px;
  height: 850px;
  float: left;
  overflow: hidden;
  margin-left: 10vw;
  width: 746px;
}

.title2 {
  font-size: 30px;
}

.page3 p {
  color: #000;
  font-family: EB Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.page4 p {
  color: #000;
  font-family: EB Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  left: 200px;
  top: 68px;
}
.page5 p {
  color: #000;
  font-family: EB Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  left: 200px;
  top: 68px;
}
.page6 p {
  color: #000;
  font-family: EB Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  left: 200px;
  top: 68px;
}
.page7 p {
  color: #000;
  font-family: EB Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  left: 200px;
  top: 68px;
}
.page8 p {
  color: #000;
  font-family: EB Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  left: 200px;
  top: 68px;
}
.page3 {
  width: 746px;
  height: 566px;
  flex-shrink: 0;
  overflow: hidden;
}
.page4 {
  margin-top: 441px;
  width: 746px;
}
.page5 {
  width: 746px;
}
.page6 {
  width: 746px;
}
.page7 {
  width: 746px;
}
.page8 {
  width: 746px;
  padding-bottom: 30px;
}

/*img 1-7*/
.page3 img {
  width: 746px;
  height: 566px;
  flex-shrink: 0;
}
.page4 img {
  width: 746px;
  height: 566px;
  flex-shrink: 0;
}
.page5 img {
  width: 746px;
  height: 566px;
  flex-shrink: 0;
}
.page6 img {
  width: 746px;
  height: 566px;
  flex-shrink: 0;
}
.page7 img {
  width: 746px;
  height: 566px;
  flex-shrink: 0;
}
.page8 img {
  width: 746px;
  height: 566px;
  flex-shrink: 0;
}
.container{

  position: relative;
}
.slide {
  width: 100%;
 

  position: absolute;
}

.wrapper_img.fade-out{
  opacity: 0.5;
  transform: translateY(-80px);
}
.wrapper_img{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_img img.active{
  animation: fadeOut 1s ease-in-out forwards;
  z-index: 1;
}
.wrapper_img img {
  transition: opacity 1s ease-in-out; 
  width: 182px;
  height: 229px;
  border-radius: 30px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  z-index: 1;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes fadaOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
/*bai viet gan day*/

.slidebar{
    top: 75vw;
    right: 5vw;
    position: absolute;
}

.slidebar .bai{
    height: 100px;
    width: 20vw;
}

.slidebar .bai img{
    width: 110px;
    height: 60px;
    float: left;
    margin-right: 5px;
}

.slidebar .bai p{
    color: black;
    font-size: 14px;
}

.slidebar .bai .date,
.slidebar .bai .view{
    color: #737373;
    font-size: 14px;
    display: inline;
}

/*footer*/

footer {
  height: 250px;
  width: 100vw;
  background: linear-gradient(90deg, #ff720c 0%, white 100%);
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 80px;
}

footer img {
  height: 87px;
  margin-left: 90px;
}

footer .follow {
  margin-right: 90px;
}

footer hr {
  margin: 10px 0 1px;
  width: 120px;
  border-color: black;
}

footer .itemsfooter {
  display: flex;
  flex-direction: column;
}

footer h4 {
  font-weight: 400;
  font-size: 32px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer .itemsfooter a,
footer .itemsfooter p {
  color: #6e6e6e;
  margin: 5px 0;
}

footer .mxh {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

/*Menubar*/

#menubar {
  background-color: black;
  width: 45vw;
  height: 40px;
  bottom: 50px;
  position: fixed;
  left: calc(100vw - 50vw - 22.5vw);
  border-radius: 50px;
  display: none;
}

#menubar > a > i {
  color: white;
}

.menu1 {
  margin-top: 175px;
}
.ganday {
  margin-top: 283px;
}
.header-mobi {
  display: none;
}

@media only screen and (max-width: 980px){
  .header .logo-search img {
    height: auto;
    width: 60px;
}
.searchbar{
  display: none;
}
.searchmobi input{
  background-color: transparent;
  border: 1px solid #811F00;
  width: 100px;
  font-size: 11px;
  padding-left: 20px;
}
.searchmobi i{
  font-size: 8px;
  border-left: none;
  padding: 3px;
  border: 1px solid #811F00;
}
.iconsearch {
  font-size: 11px;
  padding: 10px;
  border-right: 1px solid #811f00;
}
.searchbar input {
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.menu{
  display: none !important;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.searchbar input {
  border: none;
  font-size: 5px;
  font-weight: 400;
}
.searchbar {
  width: 150px;
  box-sizing: border-box;
  border-radius: 3px;
  height: 20px;
}
.searchbar a i {
  font-size: 13px;
  padding: 6px;
}
.page2 h3 {
  margin-top: 24px;
  margin-left: 0;
  font-size: 20px;
  font-weight: 700;
}
.page1 .pages1_text {height: 100px;
}
.page1 .pages1_text .h5_1{
  width: 281px;
  margin-top: -800px;
}
h5{
  margin: 0;
}
#menubar{
  display: none;
}
.ganday{
  display: none;
}

.page2{
  margin-left: 10px;
  padding-top: 0;
}
.slide{
  display: none;
}
.slidebar{
  display: none;
}
.page2 .menu1 a {
  font-size: 20px;
  font-weight: 700;
}
.page2 .menu1 a, .page2 .menu1 i {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0;

}
.menu1{
  gap: 1rem;
  display: flex;
}
.view-d{
  display: flex;
  gap: 1rem;
  margin-bottom: 54px;
}
.page2 .date, .page2 .view {
  margin: 0 ;
}
.page2 .title {
  font-weight: 700;
  line-height: 19.54px;
  font-size: 15px;
  width: 378px;
  margin: 0 30px 0 18px;
  text-align: justify;
}
.page2 .Tableofcontent {
  background-color: #c3c3c3;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 29px 24px 49px 17px;
  width: 367px;
}


.page4 p{
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: normal;text-wrap: wrap;
}
p{
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: normal;
}
.title2 {
  font-size: 15px;
  text-align: justify;
  font-weight: 400;
  width: 378px;
}
h4 {
  
  color: #000;
  font-family: EB Garamond;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.page3 p {
  font-size: 15px;
  font-weight: 400;
}
.page3 {
  width: 355px;
  height: auto;
  flex-shrink: 0;
}
.page3 img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-top: 24px;
  flex-shrink: 0;
}
.page4 {
  margin-top: 24px;
  width: 367px;
}
.page5 {
  width: 381px;
  margin-top: 25px;
}
.page5 img {
  width: 400px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
  margin-top: 18px;
}
.page5 p {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
}
.page6 p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0;
}
.page6 {
  margin-top: 31px;
  width: 378px;
}
.page6 img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 148px;
  margin-top: 31px;
  flex-shrink: 0;
}

.page7 p {
  font-size: 15px;
  font-weight: 400;
}
.page7 img {
   width: 400px;
   margin-top: 48px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.page8{
  display: none;
}
.text-end{
  width: 402px;margin-bottom: 32px;margin-top: 75px;
}
.page4 img {
  width: 400px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
}
.tong {
  width: 355px;
  margin: 0 24px 0 25px;
}
.wrapper_img img {
  width: 63px;
  object-fit: cover;
  height: 230px;
  border-radius: 30px;
}
.page1 .h5_1 {
  margin-top: -405px;
  width: 281px;
  color: #000;
  text-align: center;
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.2px;
  height: 152px;
  flex-shrink: 0;
}
.page1 .h5_2 {
  color: #28FF7E;
  width: 281px;
  font-family: Inika;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}
.page1{
  width: 100vw;
  background-size: cover;
  height: 700px;
  
}
.slide {
  width: 100%;
  position: absolute;
  top: -40px;
}
footer {
  height: 554px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 30px;
}
.header .searchmobi {
    display: flex;
}
footer img{
  margin: 0;
}
.header .menumobi {
  display: block;
}

footer .itemsfooter {
  align-items: center;
}
footer .follow {
  margin-right: 0;
}

}
